<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <%= raw SystemText.text_for_key('EMAIL_WELCOME_TEXT') %>


  </body>
</html>

