
<%= raw SystemText.text_for_key('RESOURCES_PAGE_HEADING') %>



<p>
  <a href='mailto:<%= SystemText.text_for_key('RESOURCES_EMAIL') %>'><%= raw SystemText.text_for_key('RESOURCES_SUGGESTION_PROMPT') %></a>
</p>


<div class='container'>

  <%= raw SystemText.text_for_key('RESOURCES_TEXT') %>

</div>



<br>



<br/>


