<h1>D28 Member Goals</h1>

<table style='
      font-size:12px;
      margin-left:30px;
      border:2px solid;
      border-color:#800000;
      width:700px'>
  
  <thead>
    <tr>
      <th style='width:200px'>Member</th>
      <th tyle='width:500px'>Goal</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.display_name %></td>
        <td><%= member.goal %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>






<br>
 